.navbar {
  width: 100%;
  height: 62px;
  background: #2c2c2e;
  box-shadow: 11px 11px 22px #232325;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  align-items: center;
}

.navbar__wrapper {
  display: flex;
  column-gap: 540px;
}

.navbar__left-section {
  display: flex;
}

.navbar__logo > img {
  width: 53.41px;
  height: 47.71px;
  margin-left: 28px;
}

.navbar__logo-name > h2 {
  width: 115.36px;
  height: 44.15px;
  margin-left: 9px;
  font-family: "Unica One";
  font-style: normal;
  font-weight: 400;
  font-size: 25.6364px;
  line-height: 23px;
  color: #ffffff;
}

.yellow-text {
  color: #d9a86c;
}

.navbar__right-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-input {
  width: 340px;
  height: 28px;
  background: #2c2c2e;
  box-shadow: inset 3px 3px 6px #151516, inset -3px -3px 6px #434346;
  border-style: none;
  border-radius: 10px;
}

.icon {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 762px;
  top: 22px;
  color: #d9a86c;
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.app__navbar-links > li {
  margin: 0 2rem;
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

.explore,
.login {
  color: #797979;
  font-family: "Abel";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}

.about-us {
  color: #d9a86c;
  font-family: "Abel";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 834px) {
  .navbar {
    width: 100%;
    height: 57px;
  }
  .navbar__wrapper {
    display: flex;
    column-gap: 120px;
  }
  .navbar__logo > img {
    height: 33.93px;
    width: 43.63px;
    margin: 10px auto 10px 10px;
  }
  .navbar__logo-name > h2 {
    font-size: 21.8182px;
    line-height: 19px;
    margin-top: 10px;
  }
  .navbar__right-section {
    display: flex;
    align-items: center;
  }
  .search-input {
    width: 240px;
    height: 26.21px;
    font-size: 21.8182px;
    line-height: 19px;
    background: #2c2c2e;
    box-shadow: inset 2.45734px 2.45734px 4.91468px #151516,
      inset -2.45734px -2.45734px 4.91468px #434346;
  }
  .icon {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 304px;
    top: 20px;
  }
  .explore {
    font-size: 18px;
    line-height: 23px;
  }
  .about-us {
    display: none;
  }
  .login {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .app__navbar-links > li {
    margin: 0 10px;
  }
}
